<head>
    <h1>Some Header </h1>
    <div>
        <form method="POST" action="#">
            <label for="field1">Field 1</label>
            <input type="text" name="field1" id="field1">

            <label for="field2">Field 2</label>

            <select name="menu" id="menu">
                <option>Option 1</option>
                <option>Option 2</option>
                <option>Option 3</option>
            </select>

            <label for="field3">Field 3</label>
            <input type="text" name="field3" id="field3">

            <input type="submit" name="submit" value="Submit">
        </form>
    </div>

    <br>

    <div>
        <table>
            <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Superhero Name</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Bruce</td>
                <td>Wayne</td>
                <td>Batman</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Selina</td>
                <td>Kyle</td>
                <td>Catwoman</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Diana</td>
                <td>Prince</td>
                <td>Wonder Woman</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Harleen</td>
                <td>Quinzel</td>
                <td>Harley Quinn</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Damian</td>
                <td>Wayne</td>
                <td>Robin</td>
            </tr>
        </table>
    </div>