<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Some Header </title>
    <!-- INSERT BOOTSTRAP HERE -->
     <style>
        body {
            background-color: #fff;
            padding: 20px;
        }
        h2 {
            font-size: 1.6rem
            font-weight: 600;
            padding-bottom: 12px;
            border-bottom: 1px solid #dee2e6;
            margin-botom: 24px;
        }

        <!-- INSERT CSS CLASSES HERE -->
     </style>
</head>
<body>
    <h1>Some Header </h1>

    <div class="form-row">

        <div class="field-group">
            <label for="field1">Field 1</label>
            <input type="text" id="field1" class="form-control form-control-sm">
        </div>

        <div class=""field-group">
            <label for="field2">Field 2</label>
            <select id="field2" class="form-select form-select-sm" style="width: 130px;"></select>
                <option>Open menu</option>
                <option>Option 1</option>
                <option>Option 2</option>
            </select>
        </div>

        <div class="field3-group">
            <label for="field2">Field 3</label>
            <textarea id="field3" class="form-control form-control-sm"></textarea>
        </div>

        <button type="submit" class="btn btn-primary btn-sm mt-1">Submit</button>
    </div>

    <table class="data-table">
        <!-- INSERT TABLE DATA HERE HERE -->
    </table>
</body>